<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
		verbose = "true">
     
     
     	<testsuites>
	        <testsuite name="Plan">
	            <file>./PlanTest.php</file>
	        </testsuite>
	    	<testsuite name="Suscripcion">
	            <directory>./SuscripcionTest.php</directory>
	        </testsuite>
	   		 <testsuite name="Cargo">
	            <directory>./CargoTest.php</directory>
	        </testsuite>
	        <testsuite name="Tarjeta">
	            <directory>./TarjetaTest.php</directory>
	        </testsuite>
	        <testsuite name="Cliente">
	            <directory>./ClienteTest.php</directory>
	        </testsuite>	
	    </testsuites>
	   
     
    
    <filter>
        <whitelist>
            <directory suffix="Test.php">./</directory>
        </whitelist>
        <exclude></exclude>
    </filter>
</phpunit>
