<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
		verbose = "true">
     
   	<testsuites name="Test API- Teamwork">
	        <!--<testsuite name="Plan">
	            <file>./PlanTest.php</file>
	        </testsuite>
	    	<testsuite name="Suscripcion">
	            <directory>./SuscripcionTest.php</directory>
	        </testsuite>
	   		 <testsuite name="Cargo">
	            <directory>./CargoTest.php</directory>
	        </testsuite>
	        <testsuite name="Tarjeta">
	            <directory>./TarjetaTest.php</directory>
	        </testsuite>
	    
	        <testsuite name="People">
	            <directory>./test/PeopleTest.php</directory>
	        </testsuite>
		
			<testsuite name="Task">
	            <directory>./test/ProjectTest.php</directory>
	        </testsuite>

	         <testsuite name="Task">
	            <directory>./test/TaskTest.php</directory>
	        </testsuite>



	        <testsuite name="TaskList">
	            <directory>./test/TaskListtTest.php</directory>
	        </testsuite>
	    -->
	         <testsuite name="Task">
	            <directory>./test/TaskTest.php</directory>
	        </testsuite>
	</testsuites>
	<groups>
    	<!--
	  <include>
	    <group>na</group>
	  </include>
	-->
	  <exclude>
	    <group>ignored</group>
	  </exclude>
	</groups>
     
    <filter>
        <whitelist>
            <directory suffix="Test.php">./</directory>
        </whitelist>
        <exclude>
        	 <group>ignored</group>
        </exclude>
    </filter>

    
</phpunit>